.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #f8f8f8;  
    justify-content: start;
    margin: 10px;
    border-radius: 10px;
}
  
  .flex-container > div {
    background-color: #ffffff;
    margin: 3px;
    padding : 20px;
    cursor: pointer;
}

.flex-container h2{
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: center; 
    word-wrap: wrap;
}
